Source: fresh
Priority: extra
Maintainer: Filipe Azevedo <pasnox@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libqt4-dev, qt4-qmake, python-qt4, python-qt4-dev, python-sip-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://github.com/pasnox/fresh
Vcs-Git: git://github.com/pasnox/fresh.git
Vcs-Browser: https://github.com/pasnox/fresh/tree/master

Package: fresh-dev
Section: libdevel
Architecture: any
Depends: fresh (= ${binary:Version}), libqt4-dev, python-qt4-dev, python-sip-dev
Description: Fresh is a C++ library extending the Qt library.
    Fresh is a C++ library extending the Qt library by adding new classes/widgets
    and comes with Python bindings. This is the development package.

Package: fresh
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4, python-qt4, python-sip
Description: Fresh is a C++ library extending the Qt library.
    Fresh is a C++ library extending the Qt library by adding new classes/widgets
    and comes with Python bindings.
